In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
#### Numerical 
"""
from sklearn.model_selection import train_test_split
X = gp_new
y = gp_new['Rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1000)

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

df = pd.read_csv('XXXXXX.csv')

df.shape

df.head()


## Look for class imbalance issue
df['not.fully.paid'].value_counts(dropna=False)
## Here we are seeing that over 80% value as 0 and less than 20% are 1.  

# One hot encoder by using pd.get_dummies method
pd.get_dummies(data=df, columns=['purpose'])

pred = rf.predict(X_test)

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

accuracy_score(y_test, pred)
"""

"\nfrom sklearn.model_selection import train_test_split\nX = gp_new\ny = gp_new['Rating']\nX_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1000)\n\nfrom sklearn.linear_model import LinearRegression\nlr = LinearRegression()\nlr.fit(X_train, y_train)\n\ndf = pd.read_csv('XXXXXX.csv')\n\ndf.shape\n\ndf.head()\n\n\n## Look for class imbalance issue\ndf['not.fully.paid'].value_counts(dropna=False)\n## Here we are seeing that over 80% value as 0 and less than 20% are 1.  \n\n# One hot encoder by using pd.get_dummies method\npd.get_dummies(data=df, columns=['purpose'])\n\npred = rf.predict(X_test)\n\nfrom sklearn.metrics import accuracy_score, confusion_matrix, classification_report\n\naccuracy_score(y_test, pred)\n"

## Class Imbalance Methods

#####  Class imbalance issue is witnessed more often than not. So, how to handle this issue? 
#####  Two different techniques: (1) Oversampling (2) Undersampling
#####  Assume I have 100 records in my dataset and I want to build a model for whether patients will get heart
#####  disease or not.  I have 90 records with value '0' representing will not get heart disease and 10 records 
#####  with '1' indicating 10 patients will get heard disease.

#####  I need to use certain techniques so that I can make my machine learn better. 
#####  Undersampling means I am goign to remove the records from the majority class. So, I will remove 80 records
#####  so that dataset will be balanced. 

#####  Oversampling means increase the records for minority class to make dataset balanced. 

#####  Usually noboady prefers undersampling because if you remove records then you are removing information. 
#####  
#####  SMOTE: Synthetic Minority Oversampling Technique
#####  (1) Duplicate minority records to match the majority numbers of records
#####  (2) Creating synthetic data by generating similar data as minority records. 
#####  Under SMOTE, the second option is exercised. 

#####  For each datapoint, SMOTE finds the nearest neighbor. It will calculate the distance and it will multiply
#####  the first distance with a random number between 0 and 1. Similarly it will multiply the second distance 
#####  with a random number between 0 and 1. Then, it will generate a new datapoint.

In [52]:
df=pd.read_csv('loan_borowwer_data.csv')

X_train=df.drop('not.fully.paid', axis=1)
y_train=df['not.fully.paid']

In [54]:
from imblearn.over_sampling import SMOTE
sm = SMOTE()
#X_train, y_train_sm = sm.fit_resample(X_train, y_train)

In [5]:


#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1000)

### Boosting Techniques - Ada, Gradient, Extreme Gradient Boosting, Cross Validations

#### How Ada Boosting Works?

#####   Assume there are 5 records.
#####   Steps: 
#####    (1.a) Assign equal weightage to all the records; weightage will always be between 0 and 1. So, in this example, each record will have 0.2 weightage.  Stumps will be created in Ada Boosting.  It will always have 1 root node and two leaf nodes. 
#####    (1.b) Randomly pick 3 records for training the stump. 
#####    (1.c) It will pass the entire records for prediction. 
#####    Now say if it wrongly predicting for 2nd and 4th records.  So then for second stump, the training will happen one by one. 
#####   (2) Before it starts for the second stump, it will increase the weightage for the 2nd and 4th records. For example, it will assign 0.3 weightage for 2nd and 4th records.  It increases the weightage, so they will have higher chance for getting picked up for training. So, assume 2nd, 4th, and 5th records will be picked for training.
#####   (3)  Then it will pass the entire records for prediction.
#####   Now assume 1st and 5th record will have wrong prediction.  Now it will increase the weightage of 1st and 5th records, and repeat the process until the error rate is minimum.

In [55]:
df = pd.read_csv('run_or_walk.csv')

In [7]:
df.shape

(88588, 11)

In [8]:
df.head()

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [9]:
df.columns

Index(['date', 'time', 'username', 'wrist', 'activity', 'acceleration_x',
       'acceleration_y', 'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z'],
      dtype='object')

In [10]:
df['activity'].unique()

array([0, 1])

In [11]:
df['activity'].value_counts()

1    44365
0    44223
Name: activity, dtype: int64

In [12]:
df['username'].value_counts()

viktor    88588
Name: username, dtype: int64

In [13]:
df.drop('username', axis=1)

,date,time,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922
...,...,...,...,...,...,...,...,...,...,...
88583,2017-7-9,20:9:15:317911028,0,0,0.3084,-0.8376,-0.1327,0.4823,2.0124,0.6048
88584,2017-7-9,20:9:15:517889022,0,0,0.4977,-1.0027,-0.4397,0.1022,-1.2565,-0.0761
88585,2017-7-9,20:9:15:717828989,0,0,0.4587,-1.1780,-0.2827,-1.4500,-0.2792,-1.2616
88586,2017-7-9,20:9:15:917932987,0,0,0.2590,-0.8582,-0.0759,-1.5165,0.4560,-1.7755
88587,2017-7-9,20:9:16:117410004,0,0,0.3140,-0.8008,-0.0911,0.1183,1.0850,1.2814

In [14]:
df['date']=pd.to_datetime(df['date'])

In [15]:
df.dtypes

date              datetime64[ns]
time                      object
username                  object
wrist                      int64
activity                   int64
acceleration_x           float64
acceleration_y           float64
acceleration_z           float64
gyro_x                   float64
gyro_y                   float64
gyro_z                   float64
dtype: object

In [16]:
df['year']=df['date'].dt.year
df['month']=df['date'].dt.month
df['week']=df['date'].dt.isocalendar().week

In [17]:
df.head()

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,year,month,week
0,2017-06-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296,2017,6,26
1,2017-06-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269,2017,6,26
2,2017-06-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367,2017,6,26
3,2017-06-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336,2017,6,26
4,2017-06-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922,2017,6,26

In [18]:
df1 = df.drop('date', axis=1)

In [19]:
df1['hours'] = df1['time'].apply(lambda x: x.split(':')[0])

In [20]:
df1.tail()

,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,year,month,week,hours
88583,20:9:15:317911028,viktor,0,0,0.3084,-0.8376,-0.1327,0.4823,2.0124,0.6048,2017,7,27,20
88584,20:9:15:517889022,viktor,0,0,0.4977,-1.0027,-0.4397,0.1022,-1.2565,-0.0761,2017,7,27,20
88585,20:9:15:717828989,viktor,0,0,0.4587,-1.1780,-0.2827,-1.4500,-0.2792,-1.2616,2017,7,27,20
88586,20:9:15:917932987,viktor,0,0,0.2590,-0.8582,-0.0759,-1.5165,0.4560,-1.7755,2017,7,27,20
88587,20:9:16:117410004,viktor,0,0,0.3140,-0.8008,-0.0911,0.1183,1.0850,1.2814,2017,7,27,20

In [21]:
df1['minutes'] = df1['time'].apply(lambda x: x.split(':')[1])

In [22]:
df1.head()

,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,year,month,week,hours,minutes
0,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296,2017,6,26,13,51
1,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269,2017,6,26,13,51
2,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367,2017,6,26,13,51
3,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336,2017,6,26,13,51
4,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922,2017,6,26,13,51

In [23]:
df1=df1.drop('time', axis=1)

In [24]:
df1=df1.drop('username', axis=1)

In [25]:
df1.head()

,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,year,month,week,hours,minutes
0,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296,2017,6,26,13,51
1,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269,2017,6,26,13,51
2,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367,2017,6,26,13,51
3,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336,2017,6,26,13,51
4,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922,2017,6,26,13,51

In [26]:
X=df1.drop('activity', axis=1)
y=df1['activity']

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=15)

In [28]:
from sklearn.ensemble import AdaBoostClassifier

In [29]:
ad=AdaBoostClassifier()

In [30]:
ad.fit(X_train, y_train)

AdaBoostClassifier()

In [31]:
pred = ad.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(y_test, pred)

0.9960492154870753

In [33]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4379
           1       1.00      1.00      1.00      4480

    accuracy                           1.00      8859
   macro avg       1.00      1.00      1.00      8859
weighted avg       1.00      1.00      1.00      8859

In [34]:
#from sklearn.ensemble import RandomForestClassifier

In [35]:
""" rf= RandomForestClassifier()
rf.fit(X_train, y_train) """

' rf= RandomForestClassifier()\nrf.fit(X_train, y_train) '

In [37]:
""" from sklearn.svm import SVC
sv=SVC()
sv.fit(X_train, y_train) """

' from sklearn.svm import SVC\nsv=SVC()\nsv.fit(X_train, y_train) '

In [38]:
# pred = sv.predict(X_test)

In [39]:
""" from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(y_test, pred)
"""

' from sklearn.metrics import accuracy_score, confusion_matrix, classification_report\naccuracy_score(y_test, pred)\n'

In [40]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4379
           1       1.00      1.00      1.00      4480

    accuracy                           1.00      8859
   macro avg       1.00      1.00      1.00      8859
weighted avg       1.00      1.00      1.00      8859

In [46]:
from sklearn.model_selection import train_test_split
X = df1.drop('activity', axis=1)
y= df1['activity']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=100)

In [47]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [48]:
pred = dt.predict(X_test)

In [49]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(y_test, pred)

0.9959364888253442

In [50]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      6674
           1       1.00      1.00      1.00      6615

    accuracy                           1.00     13289
   macro avg       1.00      1.00      1.00     13289
weighted avg       1.00      1.00      1.00     13289

In [63]:
ad.feature_importances_

array([0.  , 0.06, 0.14, 0.1 , 0.06, 0.02, 0.18, 0.  , 0.  , 0.02, 0.1 ,
       0.32])

In [58]:
dt.feature_importances_

array([0.00093223, 0.01287897, 0.04303803, 0.07577305, 0.00245767,
       0.00129668, 0.01352137, 0.        , 0.        , 0.00190039,
       0.82286137, 0.02534023])

In [59]:
X.columns

Index(['wrist', 'acceleration_x', 'acceleration_y', 'acceleration_z', 'gyro_x',
       'gyro_y', 'gyro_z', 'year', 'month', 'week', 'hours', 'minutes'],
      dtype='object')

In [60]:
list(zip(X.columns, ad.feature_importances_))

[('wrist', 0.0),
 ('acceleration_x', 0.06),
 ('acceleration_y', 0.14),
 ('acceleration_z', 0.1),
 ('gyro_x', 0.06),
 ('gyro_y', 0.02),
 ('gyro_z', 0.18),
 ('year', 0.0),
 ('month', 0.0),
 ('week', 0.02),
 ('hours', 0.1),
 ('minutes', 0.32)]

In [61]:
list(zip(X.columns, dt.feature_importances_))

[('wrist', 0.0009322346049138911),
 ('acceleration_x', 0.012878971861729132),
 ('acceleration_y', 0.04303803035552566),
 ('acceleration_z', 0.0757730476427958),
 ('gyro_x', 0.002457668879911564),
 ('gyro_y', 0.0012966829885479576),
 ('gyro_z', 0.013521373387393225),
 ('year', 0.0),
 ('month', 0.0),
 ('week', 0.0019003923247879395),
 ('hours', 0.8228613650039471),
 ('minutes', 0.02534023295044771)]

## Gradient Boosting
#####  It will assume that there is a base model that has already been built. 
#####  It will identify what is the probability. (assume 1 will have probability of 0.7, and 0 will have 0.3)
#####  Now it will calculate the residual value i.e. for 1, it will be 1 -0.7 which is 0.3 and for 0, it will be -0.3 which is 0 - 0.3.  
#####  Now it will try to build a model in such a way that your target variable is residual variable (error).  
#####  Actual | Predicted Probability | Residual 
#####  1      |  0.7                  |  0.3
#####  0      |  0.3                  |  -0.3
#####  1      |  0.7                  |  0.3
#####  1      |  0.7                  |  0.3
#####  0      |  0.3                  | - 0.3
#####  1      |  0.7                  | 0.3

#### Predicted Probability2 = Base Predicted Probability + Learning Rate * Residual Value

#####  Actual | Base Predicted Probability | Residual | Predicted Probabilty2 
#####  1      |  0.7                  |  0.3     |  0.76
#####  0      |  0.3                  |  -0.3    |  0.15
#####  1      |  0.7                  |  0.3     | 
#####  1      |  0.7                  |  0.3     |
#####  0      |  0.3                  |  -0.3    |
#####  1      |  0.7                  |  0.3     |

## XGradient Boosting (XG Boosting)
###### 90% times this one is used. It has become a go-to algorithm.

####  Calculate Similarity Score at the node 
#####  Then calculate similarity score (SS) at each leaf node. 
#####  SS = sum of square of residual value/(1 + Lambda * residual value)
####  Now caculate the Gain
##### Gain = SS1 + SS2 - SS3 (sum of lead nodes - root)  
####  Now I am going to look at which one has higher gain
####  Gamma is threshold
####  So, you are trying to predict values based on varying gamma values. 
####  
####  Lambda: Regularization Technique (Parameter): It helps you to avoid overfitting.
####

In [3]:
from sklearn.ensemble import GradientBoostingClassifier

In [5]:
gb = GradientBoostingClassifier()
gb.fit(X_train,y_train)

NameError: name 'X_train' is not defined

## How to act on a problem in Machine Learning?
##### Understand the problem well. 
##### Try to see which variables can be dropped
##### Try to see if you can create new variables from existing variable (feature engineering)
##### Then train/test 
##### Try to boost the model 
##### Then adjust the model with the tuning (Hyperparameter Tuning)
###### You built your model with default parameter values and then you adjust the parameters to tune the model. 
######

## Cross Validation

#### What is the disadvantage of train/test split of dataset?
#### Suppose you have 100 patient records with 10 records showing patient will have heart disease and 90 will not. 
#### If we do 80/20 split then what in case it randomly picks 80 records with patients who will not get heart disease.
#### then machine is learning everything about not having heart disease.  
### This is why we go with the technique called cross validation. 
#### 
#### Cross Validaiton takes the K value.  
#### Assume I have 100 records and when I say K= 5 then I am going to split into 5 sub-datasets.  Every set will have 20 records. 
#### In the first model, the first set will be considered as test data and rest will be train data. 
#### In the second model, the second set will be considered as test data and rest will be train data. 
#### In the third model, the third set will be considered as test data and rest data will be train data. 
#### Same for fourth model and fifth model. 

#### By cross validation, every record is getting trained. 
####