In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('50_Startups.csv')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
#Create a model that can predict the profit of the company based on company's spending pattern

In [5]:
features= data.iloc[:,[0,1,2]].values
label = data.iloc[:,[4]].values

In [8]:
#Split
from sklearn.model_selection import train_test_split
X_train,X_test,yTrain,yTest = train_test_split(features,label,test_size=0.2,random_state=15)

In [9]:
#Train Model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,yTrain)

LinearRegression()

In [10]:
#Check the Quality of the model
model.score(X_train,yTrain)

0.9541516914911967

In [11]:
model.score(X_test,yTest)

0.8841631276365532

In [ ]:
#Overfitted model
# trainScore > testScore

In [ ]:
# Generalized Model --- When my model can receive a good sample set.
# Ideal expectation is
# SL - Significance Level | SL = 0.05
# CL - Confidence Level | 1 - SL
# SL signifies how much errors my project can tolerate such that the quality of the project is not affected
# CL signifies how much accuracy I need to achieve such that the quality of the project is not affected.

# CL = 0.95

# testScore > trainScore and testScore >= CL and trainScore >= CL 
# How to get a good sample set? (Exploration)

In [15]:
#The Desi Jugaad Method 
# Concept of Exploration ----- I make my own Dr. Strange --- I create my own software explorer

CL = 0.95

for sampleNumber in range(1,1000):
  X_train,X_test,yTrain,yTest = train_test_split(features,label,test_size=0.2,random_state=sampleNumber)
  model = LinearRegression()
  model.fit(X_train,yTrain)
  testScore = model.score(X_test,yTest)
  trainScore = model.score(X_train,yTrain)

  if testScore >=CL and testScore > trainScore and trainScore >=CL:
    print("Test Score is {} and Train Score is {} and RS value is {}".format(testScore,trainScore,sampleNumber))

Test Score is 0.9515913405472075 and Train Score is 0.950165668536093 and RS value is 71